<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeEquipment")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.QuantityLabel"}}</label>
        <input type="number" name="data.quantity" value="{{data.quantity}}" />
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Rarity"}}</label>
        <select name="data.traits.rarity">
            {{#select data.traits.rarity}}
                {{#each rarity as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Usage"}}</label>
        <select name="data.usage.value">
            {{#select data.usage.value}}
                {{#each usage as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.weight.value}}
                <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.EquippedBulkLabel"}}</label>
        <select name="data.equippedBulk.value" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.equippedBulk.value}}
                <option value="">{{localize "PF2E.EquippedSameBulkValue"}}</option>
                <option value="0">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.StackGroupLabel"}}</label>
        <select name="data.stackGroup">
            {{#select data.stackGroup}}
                <option value="">{{localize "PF2E.NoStackGroup"}}</option>
                {{#each stackGroups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Size"}}</label>
        <select name="data.size">
            {{#select data.size}}
                {{#each sizes as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" />
    </div>

    <ol class="item-tags tags">
        {{#each traits as |trait|}}
            <li class="tag tag_transparent">{{localize trait.label}}</li>
        {{/each}}
    </ol>
</div>
