<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    {{#if user.isGM}}
        <div class="inventory-toggles toggles section-container headerless">
            <div class="section-body actions-options">
                <div class="actions-option">
                    <label>
                        <input type="checkbox" name="flags.pf2e.lootable" {{checked (any configLootableNpc @root.actor.flags.pf2e.lootable)}} {{disabled configLootableNpc}}>
                        <span>{{localize "PF2E.Actor.NPC.IsLootableOnDeathLabel"}}</span>
                    </label>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="items inventory-section">
        {{#if @root.owner}}
            {{> "systems/pf2e/templates/actors/partials/coinage.html" owner=@root.owner}}
        {{/if}}
        <div class="header">
            <div></div>
            <div class="item-name">{{localize "PF2E.NPC.Inventory.Header.NameLabel"}}</div>
            <div class="item-quantity">{{localize "PF2E.NPC.Inventory.Header.QuantityLabel"}}</div>
            <div></div>
        </div>
        <div class="body">
            <ul class="item-list">
                {{#each inventory as |category categoryId|}}
                    <div class="category-header">
                        <h4>{{category.label}}</h4>
                        <div class="category-controls controls">
                            {{#if @root.owner}}
                                <a class="item-control item-create" data-type="{{category.type}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-filter="itemtypes-{{category.type}}"><i class="fas fa-search"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#each category.items as |item itemId|}}
                        {{> "systems/pf2e/templates/actors/npc/partials/item.html" item=item user=@root.user owner=@root.owner editable=@root.editable}}
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="footer">
        </div>
    </div>
</div>
