<form class="check-modifiers-content" autocomplete="off" spellcheck="off">
    <div class="dialog-row header">
        <span class="type">{{localize "PF2E.Roll.Type"}}</span>
        <span class="mod">{{localize "PF2E.Roll.Modifier"}}</span>
        <span class="exclude"></span>
    </div>
    <hr />
    <div class="modifier-container">
        {{#each modifiers as |modifier idx|}}
            <div class="dialog-row {{#unless modifier.enabled}}modifier-enabled{{/unless}}">
                <span class="type tag">{{localize (concat "PF2E.ModifierType."  modifier.type)}}</span>
                <span class="mod">{{modifier.label}}</span>
                <span class="value">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                <label class="exclude toggle">
                    <input type="checkbox" id="{{../appId}}-modifier-{{idx}}" data-modifier-index="{{idx}}" {{checked modifier.ignored}} />
                    <label for="{{../appId}}-modifier-{{idx}}"></label>
                </label>
            </div>
        {{/each}}
    </div>
    <hr />
    <div class="add-modifier-panel">
        <input type="text" class="add-modifier-name" placeholder={{localize "PF2E.ModifierTitle"}}>
        <select class="add-modifier-type">
            <option value="circumstance" selected>{{localize "PF2E.ModifierType.circumstance"}}</option>
            <option value="item">{{localize "PF2E.ModifierType.item"}}</option>
            <option value="status">{{localize "PF2E.ModifierType.status"}}</option>
            <option value="untyped">{{localize "PF2E.ModifierType.untyped"}}</option>
            <option value="ability">{{localize "PF2E.ModifierType.ability"}}</option>
            <option value="proficiency">{{localize "PF2E.ModifierType.proficiency"}}</option>
        </select>
        <input type="text" class="add-modifier-value" placeholder="+1">
        <button type="button" class="add-modifier">+{{localize "PF2E.Roll.Add"}}</button>
    </div>
    <hr/>

    <div class="fate">
        <label>
            <input type="radio" name="rollTwice" value="keep-higher" {{checked fortune}} />
            {{localize "PF2E.Roll.KeepHigher"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="no" {{checked none}} />
            {{localize "PF2E.Roll.Normal"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="keep-lower" {{checked misfortune}} />
            {{localize "PF2E.Roll.KeepLower"}}
        </label>
    </div>
    <hr/>

    <div class="roll-mode-panel">
        <span class="label">{{localize "PF2E.RollModeLabel"}}</span>
        <select name="rollmode">
            {{#select rollMode}}
                {{#each rollModes as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <hr/>

    <button type="button" class="roll">{{localize "PF2E.Roll.Roll"}} ({{numberFormat totalModifier decimals=0 sign=true}})</button>

    <!-- Settings Menu -->
    <div class="hover-content" id="{{appId}}-settings">
        <ul class="modifier-list settings-list">
            <li class="item">
                <span class="label">{{localize "PF2E.SETTINGS.Player.QuickRolls.DialogHint"}}</span>
                <input class="quick-rolls-submit" type="checkbox" {{checked showRollDialogs}} />
            </li>
        </ul>
    </div>
</form>
