<form class="{{cssClass}}{{#if editing}} editing{{/if}}" autocomplete="off">
    {{> systems/pf2e/templates/actors/hazard/partials/header.html}}
    <div class="container">
        <section class="sidebar">
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.DefensesLabel"}}</h2>
                </div>
                <div class="health-line">
                    <div class="health valued-icon">
                        <i class="fas fa-heart"></i>
                        <input name="data.attributes.hp.value" class="current" type="number" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0" />
                        /
                        <input name="data.attributes.hp.max" class="max" type="number" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="0" />
                    </div>
                    <div class="armor-class valued-icon">
                        <input name="data.attributes.hardness" type="number" value="{{data.attributes.hardness}}" data-dtype="Number" placeholder="0" />
                        H
                    </div>
                    <div class="armor-class valued-icon">
                        <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="0" />
                        AC
                    </div>
                </div>
            </div>

            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.StealthLabel"}}</h2>
                </div>
                <div>
                    <input name="data.attributes.stealth.value" type="number" value="{{data.attributes.stealth.value}}" data-dtype="Number" placeholder="0" />
                    <h4 class="attribute-name rollable">{{localize 'PF2E.StealthLabel'}}</h4>
                </div>
            </div>

            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.SavesHeader"}}</h2>
                </div>
                <div class="sidebar-saves">
                    {{#each data.saves as |save sid|}}
                        <div class="roll-data" data-save="{{sid}}">
                            <h2 class="sidebar_label">{{localize save.label}}</h2>

                            <span class="valued-icon">
                                <i class="fas fa-dice-d20"></i>
                                {{#if @root.editing}}
                                    <input name="data.saves.{{sid}}.value" type="number" value="{{save.value}}" data-dtype="Number" placeholder="0" />
                                {{else}}
                                    <span>{{numberFormat save.value decimals=0 sign=true}}</span>
                                {{/if}}
                            </span>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.ImmunitiesLabel"}}</h2>
                    <a class="trait-selector" data-trait-selector="basic" data-title="PF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each data.traits.di.selected as |v k|}}
                        <span class="tag {{k}}">{{localize v}}</span>
                    {{/each}}
                </div>
            </div>

            <div>
                <div class="sidebar-title">
                    <h2>{{localize 'PF2E.ResistancesLabel'}}</h2>
                    <a class="trait-selector" data-trait-selector="resistances"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each data.traits.dr.selected as |v k|}}
                        <span class="tag {{k}}">{{v}}</span>
                    {{/each}}
                </div>
            </div>

            <div>
                <div class="sidebar-title">
                    <h2>{{localize 'PF2E.WeaknessesLabel'}}</h2>
                    <a class="trait-selector" data-trait-selector="weaknesses"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each data.traits.dv.selected as |v k|}}
                        <span class="tag {{k}}">{{v}}</span>
                    {{/each}}
                </div>
            </div>
        </section>

        <!-- BODY -->
        <section class="content">

            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize 'PF2E.StealthLabel'}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.attributes.stealth.details) target="data.attributes.stealth.details" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize 'PF2E.HazardDescriptionLabel'}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.description) target="data.details.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize 'PF2E.HazardDisableLabel'}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.disable) target="data.details.disable" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize 'PF2E.HazardRoutineLabel'}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.routine) target="data.details.routine" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize 'PF2E.HazardResetLabel'}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.reset) target="data.details.reset" button=true owner=owner editable=editable}}
                </div>
            </div>

            <div class="section-container">
                <div class="section-header">
                    <h3>Actions</h3>
                    {{#if owner}}
                    <div class="controls">
                        <a class="item-control item-create" title="{{localize 'PF2E.CreateActionTitle'}}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i>{{localize "ITEM.TypeAction"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="melee"><i class="fas fa-plus"></i> {{localize "PF2E.NPCAttackMelee"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="ranged"><i class="fas fa-plus"></i> {{localize "PF2E.NPCAttackRanged"}}</a>
                    </div>
                    {{/if}}
                </div>

                <div class="section-body">
                    <ol class="actions-list item-list">
                        <!-- List Actions -->
                        {{#each actor.actions as |section sid|}}
                            {{#each section.actions as |action aid|}}
                            <div class="list-row item" data-item-id="{{action._id}}">
                                <div class="item-name rollable">
                                    <div class="item-image" style="background-image: url({{action.img}})"></div>
                                    <h4>{{action.name}}</h4>
                                </div>
                                {{#if ../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'PF2E.DeleteItemTitle'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </div>
                            {{/each}}
                        {{/each}}

                        <!-- List Attacks -->
                        {{#each actor.attacks as |section sid|}}
                            {{#each section.items as |action actionId|}}
                                <li class="item attack flexrow" data-action-index="{{actionId}}" data-item-name="{{action.name}}" data-item-id="{{action.sourceId}}">
                                    <div class="attack-header">
                                        <h4 class="attack-name tags">
                                            <span>
                                                <strong>{{localize action.attackRollType}}</strong>
                                                <span class="activity-icon">{{action.glyph}}</span>
                                                {{action.name}}
                                            </span>
                                            {{#each traits as |trait|}}
                                                <div class="tag tag_transparent" title="{{localize trait.description}}">{{localize trait.label}}</div>
                                            {{/each}}
                                            {{#each action.additionalEffects as |effect|}}
                                                <div class="tag tag_transparent" data-tag="{{effect.tag}}">{{localize effect.label}}</div>
                                            {{/each}}
                                        </h4>
                                        <div class="attack-controls controls">
                                            <a class="item-chat chat" title="{{localize "PF2E.NPC.SendToChat"}}"><i class="fas fa-comment-alt"></i></a>
                                            {{#if editing}}
                                                <a class="item-edit edit" title="{{localize "PF2E.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-delete delete" title="{{localize "PF2E.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="attack-body">
                                        <div class="flexrow">
                                            <div class="attacks sub-section">
                                                {{#each action.variants as |variant vi|}}
                                                    <button type="button" class="btn attack-button" {{#if (eq vi 0) }}title="{{action.breakdown}}"{{/if}} data-action="strike-attack" data-variant-index="{{vi}}">{{variant.label}}</button>
                                                {{/each}}
                                            </div>
                                            <div class="damage sub-section">
                                                <button type="button" class="damage-button" data-action="strike-damage">{{#each action.damageBreakdown}}{{this}}{{#unless @last}} + {{/unless}}{{/each}}</button>
                                                <button type="button" class="critical-button" data-action="strike-critical">{{localize "PF2E.CriticalDamageLabel"}}</button>
                                            </div>
                                        </div>
                                        <div class="attack-detail sub-section expandable expanded">
                                            <div class="attack-description">
                                                {{{enrichHTML action.description}}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </section>
    </div>
</form>
