<form class="{{cssClass}}" autocomplete="off">

<!-- HEADER -->
<header class="sheet-header">
    <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'PF2E.CharacterNamePlaceholder'}}"/>
    </h1>

    <div class="editsheet">
        <label>{{localize 'PF2E.TraitComplex'}}</label><input name="data.details.isComplex" type="checkbox" data-dtype="Boolean" {{checked data.details.isComplex}}/>
    </div>
    <div class="editsheet">
        <label>{{localize 'PF2E.EditHazardLabel'}}</label><input class="isHazardEditable" name="flags.pf2e.editHazard.value" type="checkbox" data-dtype="Boolean" {{checked flags.pf2e.editHazard.value}}/>
    </div>
    </h1>
    <h1 class="charlevel">
        <div class="level">
            <label>{{localize 'PF2E.LevelLabel'}}</label>
            <input name="data.details.level.value" type="number" value="{{data.details.level.value}}" data-dtype="Number" placeholder="1" />
        </div>
    </h1>
</header>

<!-- SIDEBAR -->
<section class="sheet-sidebar sidebar">

    <!-- ABILITY SCORES -->
    <div class="abilities" data-group="sidebar" data-tab="abilities">
        <h3 class="ac-title pf-heading">{{localize 'PF2E.DefensesLabel'}}</h3>
        <ol class="npc-defence-list">
            <span class="armor-class" title="{{localize 'PF2E.ArmorClassLabel'}}">
                <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="10" />
            </span>
            <div class="hp-current pf-container">
                <h4 class="hp-current pf-title">{{localize 'PF2E.CurrentHitPointsShortLabel'}}</h4>
                <span class="hp-current pf-value pf-large" title="{{localize 'PF2E.CurrentHPTitle'}}">
                    <input name="data.attributes.hp.value" type="number" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="10" />
                </span>
            </div>
            <div class="hp-max pf-container">
                <h4 class="hp-max pf-title">{{localize 'PF2E.MaxHitPointsShortLabel'}}</h4>
                <span class="hp-max pf-value pf-large" title="{{localize 'PF2E.MaxHPTitle'}}">
                    <input name="data.attributes.hp.max" type="number" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="10" />
                </span>
            </div>
        </ol>
        <ol class="hp-list-small">
            <li class="li-four-grid">
                <div class="defense-container pf-justify-center">
                    <h4 class="defense-item pf-title" title="{{localize 'PF2E.HazardHardnessTitle'}}">{{localize 'PF2E.HazardHardnessLabel'}}</h4>
                    <span class="defense-item-value pf-value pf-small" title="{{localize 'PF2E.HazardHardnessTitle'}}">
                        <input name="data.attributes.hardness" type="number" value="{{data.attributes.hardness}}" data-dtype="Number" placeholder="0" />
                    </span>
                </div>
            </li>
        </ol>
        <ol class="singleColumn-list" style="margin-bottom: 2px; margin-top: 2px;">
            <li>
                    <div class="bio-item form-group-stacked pf-container">
                    <label class="pf-title">
                        {{localize "PF2E.ImmunitiesLabel"}}
                        <a class="trait-selector" data-trait-selector="basic" data-title="PF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di"><i class="fas fa-edit"></i></a>
                    </label>
                    <ul class="traits-list pf-value">
                    {{#each data.traits.di.selected as |v k|}}
                        <span class="tag-legacy {{k}}">{{localize v}}</span>
                    {{/each}}
                    </ul>
                </div>
            </li>
            <li>
                <div class="form-group-stacked pf-container">
                    <label class="pf-title">
                        {{localize 'PF2E.ResistancesLabel'}}
                        <a class="trait-selector" data-trait-selector="resistances"><i class="fas fa-edit"></i></a>
                    </label>
                    <ul id="actor-resistances" class="traits-list pf-value">
                    {{#each data.traits.dr.selected as |v k|}}
                        <span class="tag-legacy {{k}}">{{v}}</span>
                    {{/each}}
                    </ul>
                </div>
            </li>
            <li>
                <div class="form-group-stacked pf-container">
                    <label class="pf-title">
                        {{localize 'PF2E.WeaknessesLabel'}}
                        <a class="trait-selector" data-trait-selector="weaknesses"><i class="fas fa-edit"></i></a>
                    </label>
                    <ul id="actor-resistances" class="traits-list pf-value">
                    {{#each data.traits.dv.selected as |v k|}}
                        <span class="tag-legacy {{k}}">{{v}}</span>
                    {{/each}}
                    </ul>
                </div>
            </li>
        </ol>
        <h3 class="defense-title pf-heading">{{localize 'PF2E.StealthLabel'}}</h3>
        <ol class="defense-list">
            <li class="npc-defense" data-attribute="stealth">
                <span class="defense-score">
                    <input name="data.attributes.stealth.value" type="number" value="{{data.attributes.stealth.value}}" data-dtype="Number" placeholder="0" />
                </span>
                <h4 class="attribute-name rollable">{{localize 'PF2E.StealthLabel'}}</h4>
            </li>
        </ol>

        <h3 class="defense-title pf-heading">{{localize 'PF2E.SavesHeader'}}</h3>
        <ol class="defense-list">
            {{#each data.saves as |save sid|}}
                <li class="npc-defense" data-save="{{sid}}">
                    <span class="defense-score">
                            <input name="data.saves.{{sid}}.value" type="number" value="{{save.value}}" data-dtype="Number" placeholder="0" />
                    </span>
                    <h4 class="save-name rollable">{{localize save.label}}</h4>
                </li>
            {{/each}}
        </ol>

        <h3 class="defense-title pf-heading">{{localize 'PF2E.DetailsHeading'}}</h3>
        <div class="bio-item form-group-stacked pf-container">
            <label>
                {{localize 'PF2E.TraitsLabel'}}
                <a class="trait-selector" data-trait-selector="basic" data-config-types="hazardTraits" data-property="data.traits.traits"><i class="fas fa-edit"></i></a>
            </label>
            <ul class="traits-list tags">
                {{#each data.traits.traits.value as |v k|}}
                    <span class="tag {{k}}">{{v}}</span>
                {{/each}}
            </ul>
        </div>
        <div class="flexrow" style="flex: auto;">
            <select class="rarity-select traits-list-item rarity {{#if data.traits.rarity }} {{data.traits.rarity }} {{else}} common {{/if}}" name="data.traits.rarity" data-dtype="String">
                {{#select data.traits.rarity}}
                {{#each actorRarities as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="bio-item trait-size pf-container">
            <label class="pf-title">{{localize 'PF2E.ImageLabel'}}</label>
            <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="110" width="110" data-edit="img"/>
        </div>
    </div>
</section>

<!-- BODY -->
<section class="sheet-body content">

    <!-- Items List -->
    <ol class="actions-list inventory-list directory-list">

        <li class="list-row action-header">
          <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">{{localize 'PF2E.StealthLabel'}}</h3>
        </li>

        <li class="list-row hazard-editor">
          {{editor content=(enrichHTML data.attributes.stealth.details) target="data.attributes.stealth.details" button=true owner=owner editable=editable}}
        </li>

        <li class="list-row action-header">
            <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">{{localize 'PF2E.HazardDescriptionLabel'}}</h3>
        </li>

        <li class="list-row hazard-editor">
          {{editor content=(enrichHTML data.details.description) target="data.details.description" button=true owner=owner editable=editable}}
        </li>

        <li class="list-row action-header">
            <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">{{localize 'PF2E.HazardDisableLabel'}}</h3>
        </li>

        <li class="list-row hazard-editor">
          {{editor content=(enrichHTML data.details.disable) target="data.details.disable" button=true owner=owner editable=editable}}
        </li>

        <li class="list-row action-header">
            <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">{{localize 'PF2E.HazardRoutineLabel'}}</h3>
        </li>

        <li class="list-row hazard-editor">
          {{editor content=(enrichHTML data.details.routine) target="data.details.routine" button=true owner=owner editable=editable}}
        </li>

        <li class="list-row action-header">
            <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">{{localize 'PF2E.HazardResetLabel'}}</h3>
        </li>

        <li class="list-row hazard-editor">
          {{editor content=(enrichHTML data.details.reset) target="data.details.reset" button=true owner=owner editable=editable}}
        </li>

        <!-- Action Header -->
        <li class="list-row action-header">
            <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">Actions</h3>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create pf-heading" title="{{localize 'PF2E.CreateActionTitle'}}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i>{{localize 'PF2E.AddShortLabel'}}</a>
            </div>
            {{/if}}
        </li>

        <!-- List Actions -->
        {{#each actor.actions as |section sid|}}
            {{#each section.actions as |action aid|}}
            <li class="list-row item" data-item-id="{{action._id}}">
                <div class="item-name rollable">
                    <div class="item-image" style="background-image: url({{action.img}})"></div>
                    <h4>
                        {{action.name}}
                    </h4>
                </div>
                {{#if ../../owner}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'PF2E.DeleteItemTitle'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            </li>
            {{/each}}
        {{/each}}

        <!-- Attacks Header -->
        <h3 class="item-name pf-heading pf-actions">Attacks</h3>

        <!-- List Attacks -->
        {{#each actor.attacks as |section sid|}}
            <li class="list-row inventory-header sub-category spellbook-header">
                <h3 class="item-name pf-sub-category pf-actions">{{section.label}}</h3>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'PF2E.CreateAttackTitle'}}" data-type="{{section.type}}" data-action-type="{{sid}}"><i class="fas fa-plus"></i>{{localize 'PF2E.AddShortLabel'}}</a>
                </div>
                {{/if}}
            </li>
            {{#each section.items as |item iid|}}
            <li class="list-row item" data-item-id="{{item._id}}">
                <div class="melee-name rollable">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4>
                        {{item.name}}
                    </h4>
                    <div class="melee-buttons">
                        <span class="tag-legacy"><button data-action="npcAttack" >Strike (+{{item.data.bonus.total}})</button></span>
                        <span class="tag-legacy"><button data-action="npcAttack2" >{{#unless item.data.isAgile}}-5{{else}}-4{{/unless}}</button></span>
                        <span class="tag-legacy"><button data-action="npcAttack3" >{{#unless item.data.isAgile}}-10{{else}}-8{{/unless}}</button></span>
                        <span class="tag-legacy"><button data-action="npcDamage">
                            {{localize "PF2E.DamageLabel"}} (
                            {{#if item.data.damageRolls}}
                              {{#each item.data.damageRolls as |dmg index|}}
                                {{dmg.damage}} {{dmg.damageType}}
                              {{/each}}
                            {{/if}}
                            )
                          </button></span>
                    </div>
                </div>
                {{#if ../../owner}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                    {{#unless action.feat}}
                    <a class="item-control item-delete" title="{{localize 'PF2E.DeleteItemTitle'}}"><i class="fas fa-trash"></i></a>
                    {{/unless}}
                </div>
                {{/if}}
            </li>
            {{/each}}
        {{/each}}
    </ol>
</section>

</form>
