.entries-list {
    list-style: none;
    padding: 2px;
    margin: 0;

    .spellcasting-entry {
        display: block;
        width: 100%;
        margin: 0px;
        border: 1px solid var(--sub);
        border-radius: 4px;

        &:not(:first-child) {
            margin-top: 0.5rem;
        }

        .header {
            background-color: $primary-accent;
            color: $light-text;
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            padding: 4px 0.5em;
            border-radius: 3px 3px 0px 0px;

            a.slotless-level-toggle {
                margin-right: 0.5em;
            }

            .values {
                align-items: baseline;
                display: flex;
                flex-flow: row nowrap;
                flex: 1;

                h4.name {
                    margin: 0 4px 0 0;
                    padding-right: 6px;
                    width: max-content;
                }

                .inline-field {
                    flex: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: baseline;

                    label {
                        flex: 1;
                    }

                    .attack-input {
                        flex: 1 0 32px;
                        text-align: center;
                        background-color: $light-text;
                        font-weight: bold;
                        margin-left: 4px;
                        margin-right: 8px;
                        width: 32px;
                    }
                }

                .ability-score {
                    select {
                        margin-left: 4px;
                        max-width: 55px;
                        padding: 2px !important;
                    }
                }
            }

            .item-controls {
                display: flex;
                flex-basis: 2rem;
                justify-content: space-between;
            }
        }

        .dc-input, .spell-level-header input {
            flex: 1 0 2rem;
            text-align: center;
            background-color: $light-text;
            font-weight: 700;
            margin: 0 4px;
            width: 2rem;
            height: 18px;
            background: #f5efe0;
            color: #333;
            border: 1px solid transparent;
        }
    }
}


.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 12px;

    button.spellcasting-create {
        cursor: pointer;
        margin: 8px;
        padding: 6px 12px;
        font-size: 10px;
        line-height: 16px;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
        background: $primary-accent;
        color: $light-text;
        text-align: center;
        white-space: nowrap;
        border-radius: 3px;
        border: none;
    }
}
