.pf2e.sheet.hazard {
    .container {
        position: relative;
        display: block;
        background: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        z-index: 2;
        padding: 0.5rem;
    }

    header.title-bar {
        display: flex;
        margin-bottom: 0.1em;
        width: 100%;
        justify-content: space-between;
        border-bottom: 2px solid var(--primary);
        font-family: var(--sans-serif);
        text-transform: uppercase;
        font-weight: 600;

        h1 {
            border: none;
        }

        .editHazardButton {
            display: flex;
            align-items: center;
            font-size: 10px;
            text-align: center;
        }

        .name {
            justify-content: flex-start;
        }
        .level {
            flex-shrink: 0;
        }
    }

    .top-section {
        display: flex;
        margin: 0.5rem 0;
    }

    .traits-bar {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

    .stats-line.rich-description {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .inline-stats {
            padding-right: 0;
            padding-top: 0;
            padding: 0;
        }

        .stat-title {
            display: inline-block;
            width: 80px;
        }

        p {
            margin-top: 0;
            padding-bottom: 0.5em;
        }
    }

    ol.actions-list {
        height: auto;
        margin: 0.5em 0;
        border-top: 1px solid var(--sub);

        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            line-height: 24px;
            padding: 2px 0;
            border-bottom: 1px solid var(--sub);
        }
    }

    .hazard-editor {
        min-height: 200px;
    }

    .abilities .defense-list {
        display: grid;
        grid: "defense" 40px / auto;
        grid-auto-rows: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .pf-heading {
        @include serif-condensed;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        background: var(--primary-background);
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .pf-sub-category {
        font-weight: bold;
        font-size: 1em;
        line-height: 20px;
        color: #fff;
        background: var(--secondary-background);
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .pf-title {
        background: var(--tertiary-background);
        height: 16px;
        border: 1px solid var(--tertiary-background);
        text-align: center;
        align-self: start;
        margin-bottom: -1px;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .pf-value {
        background: #fff;
        border: 1px solid var(--tertiary-background);
        text-align: center;
    }

    .pf-container {
        grid: "title" 15px "value" auto / auto;
        margin-top: 2px;
        justify-self: center;
    }

    .pf-small {
        height: 20px;
    }

    .pf-large {
        font-size: 26px;
        height: 32px;
    }

    .abilities {
        .npc-defence-list {
            display: grid;
            grid: "ac current max" 38px / 73px 73px 73px;
            margin: unset;
            padding: unset;
            background: var(--secondary-background);

            .ac-value {
                height: 16px;
                font-size: 12px;
                width: 46px;
            }

            .ac-item {
                height: 13px;
                font-size: 11px;
                width: 46px;
            }
        }

        .armor-class {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            align-self: center;
            background: #fff;
            height: 64px;
            width: 64px;
            border: 1px solid;
            border-radius: 33px;
            font-size: 42px;
            text-align: center;
        }

        .hp-list {
            display: grid;
            grid: "li" 50px / auto;
            grid-auto-rows: 40px;
            margin: unset;
            margin-top: 4px;
            padding: unset;

            .hp-current, .hp-max, .hp-temp {
                width: 64px;
            }

            .hp-conditions {
                grid-area: condition;
                width: 143px;
            }
        }

        .hp-list-small {
            display: grid;
            grid: "li" 34px / auto;
            margin: unset;
            margin-top: 4px;
            padding: unset;
        }

        .li-four-grid {
            display: grid;
            grid: "one two three four" 32px / 25% 25% 25% 25%;
            margin: unset;
            align-self: center;

            /* margin-top: 1px;
                */
            padding: unset;
            background: var(--secondary-background);
        }

        .defense-container {
            background: var(--secondary-background);
            width: 48px;
            margin-top: 2px;
        }
    }

    .abilities .npc-defense, .npc-defense {
        grid-row-start: auto;
        align-self: center;
        display: grid;
        grid: "score name" 32px / 40px auto;
        background: var(--secondary-background);
        margin-right: 4px;
    }

    .abilities .npc-defense .attribute-name {
        grid-area: auto;
        margin: 0;
        background: var(--secondary-background);
        color: white;
        align-self: center;
        font-size: 15px;
    }

    .npc-defense {
        .attribute-name, .spelldc-name {
            grid-area: auto;
            margin: 0;
            background: var(--secondary-background);
            color: white;
            align-self: center;
            font-size: 15px;
        }
    }

    .abilities .npc-defense {
        .save-name {
            grid-area: auto;
            margin: 0;
            background: var(--secondary-background);
            color: white;
            align-self: center;
            font-size: 15px;
        }
    }

    .abilities .npc-defense .defense-score > input, .npc-defense .defense-score > input {
        @include serif-condensed;
        width: 30px;
        height: 30px;
        margin: 3px;
        font-size: 28px;
        text-align: center;
        background: #fff;
        border: 1px solid;
    }

    .npc-defense .defense-score {
        @include serif-condensed;
        grid-area: auto;
        font-size: 28px;
        text-align: center;
        background: var(--secondary-background);
        color: white;

        > input {
            @include serif-condensed;
            width: 30px;
            height: 30px;
            margin: 3px;
            font-size: 28px;
            text-align: center;
            background: #fff;
            border: 1px solid;
        }
    }

    .defense-item {
        grid-area: auto;
        font-size: 11px;
        height: 13px;
    }

    .defense .defense-item-value, .defense-item-value {
        grid-area: auto;
        height: 16px;
        font-size: 12px;
    }

    .traits-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .singleColumn-list {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .melee-buttons {
        button {
            font-size: 10px;
            line-height: 12px;
            margin: 0;
            border: 1px groove darkgray;
            white-space: nowrap;
        }

        span {
            padding: 0;
            margin-top: 3px;
        }
    }

    .defense-list input.stat-detail {
        display: flex;
        font-size: 13px;
        height: 18px;
        background: rgba(183, 91, 91, 0.2);
        color: black;
        border: 1px solid black;
        width: calc(100% - 4px);
    }

    form .inventory-list .list-row {
        .item-name h4 {
            flex: 2;
            line-height: 1.4em;
            padding-top: 0.2em;
        }

        .melee-name {
            h4 {
                flex: 2;
                line-height: 1.4em;
                padding-top: 0.2em;
            }

            div.melee-buttons {
                max-width: 80%;
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-wrap: wrap;
            }

            h4 span.strike {
                font-weight: normal;
                display: inline;
            }
        }
    }

    form.updatedNPCSheet {
        overflow-y: scroll;

        .contentcontainer {
            position: relative;
            display: block;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            z-index: 2;
        }

        .bgcontainer {
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
            opacity: 0.15;
            content: none;
            z-index: 1;
            position: absolute;
            pointer-events: none;

            &.hidden {
                visibility: hidden;
            }
        }

        .npc-title-bar {
            display: flex;
            margin-bottom: 0.1em;
            width: 100%;
            justify-content: space-between;
            border-bottom: 2px solid #782e22;
            margin: 0 0 0.5rem;

            h1 {
                font-family: var(--sans-serif);
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
                border-bottom: 0;
            }

            .name {
                justify-content: flex-start;
                font-variant: small-caps;
            }

            .level, .editNPCButton {
                flex-shrink: 0;
            }
        }

        hr {
            border-top: 2px solid black;
            margin-block-start: 0;
        }

        .list-row hr {
            border-width: 1px;
            border-top-color: #111;
            margin-block-start: 0.5em;
        }

        h1.editNPCButton {
            display: flex;
            justify-content: end;
            flex-direction: column;
            margin-left: 4em;
            font-size: 10px;
            font-weight: normal;
        }
    }

    .top-section {
        display: flex;
        margin: 0.5rem 0;

        .top-stats-container {
            flex: 2;
            order: 1;
        }

        .top-quick-container {
            flex: 1;
            order: 2;
            padding-right: 0.2em;
            display: flex;
            flex-direction: column;
            min-width: 160px;

            * {
                text-align: right;
            }

            .hp-current {
                height: 24px;
                font-size: 20px;
                display: inline-flex;
                flex-direction: row;

                label {
                    width: auto;
                    flex: 5;
                }

                input {
                    width: auto;
                    flex: 1;
                }
            }

            textarea {
                resize: none;
                flex: 2;
            }
        }
    }

    .list-row {
        .item-controls {
            display: flex;
            align-items: center;
        }

        &.inventory-header.sub-category.attack-header {
            display: none;
        }
    }

    .item-control:hover {
        color: #111;
        text-shadow: 0 0 10px #ff6400;
    }

    .inline-stats {
        display: block;

        * {
            display: inline;
            justify-content: flex-start;
            padding-left: 0.05em;
        }

        > .stat-list {
            > span.stat-minortitle {
                padding-right: 0.2em;
            }
        }
        .stat-detail {
            &.perception:before {
                white-space: pre-wrap;
            }

            &.speed + .speed:before {
                content: ", ";
                white-space: pre-wrap;
            }
        }
    }

    .stats-line {
        display: block;

        &.recall-knowledge button {
            font-size: 10px;
            line-height: 12px;
            margin: 0;
            border: 1px groove darkgray;
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            width: auto;
        }
    }

    .stat-list {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .skill-variants {
        display: inline-flex;

        *:not(:last-of-type):after {
            content: ",";
        }
    }

    .stat-list, .stat-value {
        &:not(:last-of-type):after {
            content: ",";
            padding-right: 0.2em;
        }

        ul.skill-list {
            display: inline;
            list-style-type: none;
            padding: 0;

            li {
                display: inline;
                padding: 0;
                &:not(:last-of-type):after {
                    content: ",";
                }
            }
        }
    }

    .list-row .item-image {
        min-height: 24px;
    }

    .npc-title-bar {
        display: flex;
        margin-bottom: 0.1em;
        width: 100%;
        justify-content: space-between;
        border-bottom: 2px solid #782e22;
        margin: 0 0 0.5rem;

        h1 {
            font-family: var(--sans-serif);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
            border-bottom: 0;
        }

        .name {
            justify-content: flex-start;
            font-variant: small-caps;
        }

        .level, .editNPCButton {
            flex-shrink: 0;
        }
    }

    hr {
        border-top: 2px solid black;
        margin-block-start: 0;
    }

    .list-row hr {
        border-width: 1px;
        border-top-color: #111;
        margin-block-start: 0.5em;
    }

    .inventory-list .list-row {
        .item-name, .melee-name {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            padding: 1px 0;
            &:first-child {
                padding-left: 4px;
                &.long {
                    min-width: 230px;
                }
            }
            button {
                cursor: pointer;
            }
        }

        .item-image {
            flex: 0 0 24px;
            margin-right: 4px;
            background-size: 24px;
            background-repeat: no-repeat;
        }

        .item-name h4, .melee-name h4 {
            flex: 2;
            margin: 0;
        }
    }

    .item-name, .melee-name {
        flex: 1;
    }

    .item-controls {
        flex: 0 0 64px;
        justify-content: flex-end;

        a {
            font-size: 10px;
            color: #666;
            margin-right: 4px;
        }
    }

    .stat-list.major-stat:not(:last-of-type):after {
        display: inline;
    }

    span .stat-title {
        font-weight: bold;
        margin-right: 0.25em;

        &.ability-name {
            text-transform: capitalize;
        }
    }

    .rollable label {
        cursor: pointer;
    }
}

.sheet.hazard:not(.pf2e) {
    ul, ol {
        @include p-reset;
        list-style-type: none;
    }

    h1, h2, h3, h4 {
        @include p-reset;
        border-bottom: none;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .window-content {
        @include p-reset;
    }

    input[type="text"], input[type="number"] {
        @include p-reset;
        height: calc(100% - 2px);
        background: none;
        border: 1px solid transparent;

        &:hover, &:focus {
            border: 1px solid black;
            box-shadow: 0 0 10px #00005a;
        }
    }

    .container {
        display: flex;
        background: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        overflow: hidden;
    }

    .content {
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
        padding: 0 5px 20px 5px;
        overflow-y: auto;
    }

    @import "header", "sidebar";

    .section-container {
        display: flex;
        flex-direction: column;
        padding: 4px 6px 0;

        .section-header {
            display: flex;
            flex: 0;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            border: 1px solid $primary-color;
            border-radius: 3px 3px 0px 0px;
            background: $primary-color;
            text-align: left;
            color: white;
            font-size: 0.8rem;
            padding: 4px 8px;

            h4 {
                flex: auto;
                margin-bottom: 0px;
                text-transform: uppercase;
            }

            .controls {
                display: flex;
                gap: 8px;
                justify-self: flex-end;
            }
        }

        .section-body {
            display: flex;
            flex: auto;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            border: 1px solid $primary-color;
            border-radius: 0px 0px 3px 3px;
        }

        .editor {
            .editor-content, .tox-edit-area {
                padding: 4px;
            }

            .tox {
                width: 100%;
            }
        }

        &.headerless .section-body {
            border-radius: 3px;
        }

        &.skills > .section-body {
            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    .editing {
        .hazard-editor, .tox {
            min-height: 120px;
        }
    }
}
