tags.tagify {
    --tag-bg: var(--color-text-light-3);
    --tags-border-color: var(--color-text-light-5);
    --tags-hover-border-color: var(--color-text-light-5);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    gap: 3px;
    line-height: 0;
    padding: 2px;

    &:hover {
        box-shadow: 0 0 10px #00005a
    }

    tag {
        margin: 0;
        padding: 1px;

        x {
            margin: 0;
        }

        > div {
            padding: 2px;

            .tagify__tag-text {
                font-weight: normal;
            }
        }

        .tagify__tag__removeBtn {
            align-items: baseline;
        }
    }
}
